*{
padding:0;
margin:0px;
box-sizing:border-box;
}
.page3{
    background-color:white;
    width:100svw;
    height:100svh;
    /* border:2px solid yellow; */
}
.parent3{
    position:relative;
    left:10%;
    top:5%;
    width:80%;
    height:55%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:30px;
}
.c31,.c32,.c33{
    font-size: 20px;
    background-color: white;
    border-radius:10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
    padding:20px;
    border:1px solid rgb(103, 100, 100);
    width:23%;
    height:100%;
    box-shadow: 2px 5px 5px rgba(249, 247, 247, 0.3);
    
}
.c31:hover ,.c32:hover ,.c33:hover {
    transform:translateY(-15px);
    background-color: #004caa;
    color:white;
    border:1px solid white;
    box-shadow: 2px 5px 5px rgba(249, 247, 247, 0.3);
}
.page3 h1{
    color:#004caa;
    font-size:55px;
    text-align: center;
    padding:20px;
}
#meet-our-team {
    position:relative;
    color:#fc5185;
    font-size:35px;
    text-align: center;
    padding-top:85px;
}

#meet-our-team:hover {
  
    color:#004caa;
    
    
}
img{
    border-radius:250px;
}